.speakerPage--buttons,
.SpeakerOutputsList,
.SpeakerOutputsList > ul,
.SpeakerOutputsList > ul > li {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.SpeakerOutputItem,
.SpeakerSpeechItem {
  border-bottom: 1px solid var(--color-blue);
  padding: 10px;
}
.output--item {
  display: flex;
  gap: 10px;
  align-items: center;
}

.SpeakerSpeechesList,
.SpeakerSpeechesList > ul,
.SpeakerSpeechesList > ul > li {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
