.visitCard {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
}
.visitCard + .completed {
  opacity: 0.5;
}
.visitCard--item {
  display: flex;
  gap: 10px;
}
.visitCard--buttons {
  display: flex;
  gap: 10px;
}
.divider {
  border: 1px solid #dcdcdc;
}
