.button {
  height: 35px;
  width: 150px;
  border-radius: 5px;
  outline: none;
  border: none;
  font-size: 14px;
  font-weight: 500;
}
.primary-button {
  background-color: var(--color-blue);
  color: #fff;
}
.secondary-button {
  border: 1px solid var(--color-blue);
  background-color: transparent;
  color: var(--color-black);
}
.w-100 {
  width: 100%;
}
