.SpeakerOutputItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.SpeakerOutputItem > .info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.SpeakerOutputItem,
.completed {
  opacity: 0.5;
}
