.localSpeakersList {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.localSpeakerItem {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px 0;
}
.localSpeakerItem p {
  font-weight: 500;
}
