* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
:root {
  --color-blue: #345996;
  --color-black: #292929;
}

/* HELPERS */
.container-page {
  padding: 20px;
  width: 100%;
  height: 100vh;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
